.video-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}
.video-section-container video {
  width: 100%;
}
.main-video-overlay-text {
  text-align: center;
  display: block;
  position: absolute;
}
.main-video-overlay-text p{
    margin: 0;
    padding: 0;
}
.main-video-overlay-text p:first-child {
  font-family: NotoSans-Medium;
  font-size: 30px;
  color: #fff;
}
.main-video-overlay-text p:nth-child(2) {
  font-family: NotoSans-Bold;
  font-size: 50px;
  color: #fff;
}
.main-video-overlay-text p:last-child {
  font-family: NotoSans-Medium;
  font-size: 20px;
  color: #fff;
}
