.aquaplanet-item-order-wrapper {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  overflow: hidden;
}
.item-order-container{
    padding: 120px 0 80px;
    text-align: center;
}
.item-final-order-form{
    width: 500px;
    display: inline-block;
    text-align: left;
}

/* 좌측 폼 */
.item-order-default-grid-left {
  width: 50%;
  height: 100%;
  min-width: 640px;
}

/*우측 폼*/
.item-order-default-grid-right {
  width: 50%;
  min-height: 100%;
  background-color: #f5f6f9;
  min-width: 640px;
}