.aquaplanet-item-detail-wrapper{
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    overflow: hidden;
}
.item-detail-default-grid-left{
    width: 50%;
    height: 100%;
}
.item-detail-default-grid-right{
    width: 50%;
    height: 100%;
}
.item-detail-container{
    display: block;
    padding-top: 120px;
    margin: 0 auto;
    min-height: calc(100% - 80px);
    box-sizing: border-box;
    text-align: center;
}
.item-first-order-form{
    display: inline-block;
    text-align: left;
}

.item-detail-footer{
    display: flex;
    height: 80px;
    align-items: center;
}
.item-detail-footer span:first-child{
    width: 180px;
    text-align: center;
    font-size: 16px;
}
.item-detail-footer span:nth-child(2){
padding: 0 6px;
border: 1px solid #222;
border-radius: 15px;
line-height: 18px;
margin-right: 20px;
}
.item-detail-footer span:nth-child(3){
    flex: 1;
    font-size: 16px;
    color: #656565;
    cursor: pointer;
}
.item-detail-footer span:last-child{
    width: 160px;
    text-align: center;
    font-size: 16px;
    color: #656565;
    cursor: pointer;
}
.item-detail-footer span:nth-child(3):hover,
.item-detail-footer span:last-child:hover{
    color: #222;
}

.item-first-order-form form select {
  display: none;
}
.item-detail-option-select .selected-option-display {
  border: 1px solid #999;
  color: #222222;
  width: 180px;
  box-sizing: border-box;
  height: 50px;
  line-height: 48px;
  padding: 0 20px;
  font-size: 14px;
  position: relative;
  cursor: pointer;
}
.item-detail-option-select .selected-option-display::after {
  background: url(../../../public/img/aquaplanet/ico_arrowdown.svg);
  content: "";
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 10px;
  background-size: 10px 10px;
  top: 40%;
  right: 20px;
  transform: rotate(0deg);
  transition: all 0.4s ease;
}
.item-detail-option-select .selected-option-display.on::after {
  transform: rotate(180deg);
}
.item-detail-option-select .option-list {
  position: absolute;
  top: 50px;
  right: 0;
  width: 180px;
  border: 1px solid #dddddd;
  display: none;
  z-index: 20;
}
.item-detail-option-select .option-list.on {
  display: block;
}
.item-detail-option-select .item-option {
  line-height: 24px;
  font-size: 13px;
  cursor: pointer;
}
.item-detail-option-select .item-option.selected {
  border: 1px solid #003eff;
  background: #007fff;
  font-weight: 400;
  color: #fff;
}