<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="aquaplanet_ilsan.mapper.MemberMapper">
	<insert id="signup" parameterType="aquaplanet_ilsan.dto.Member">
	    INSERT INTO Member (memberEmail, memberPw, memberSubEmail, memberRegionCity, memberRegionDistrict)
	    VALUES (#{memberEmail}, #{memberPw}, #{memberSubEmail}, #{memberRegionCity}, #{memberRegionDistrict});
	</insert>
</mapper>