.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 62px;
    background-color: white;
}
.header-left{
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 2;
    padding-left: 20px;
    transition: color 0.4s ease;
}
.header-left:hover{
    color: rgb(0, 132, 255);
    
}
.header-left svg{
    width: 25px;
    height: 25px;
    fill: currentColor;
}
.header-logo{
    width: 100%;
    position: absolute;
    justify-content: center;
    text-align: center;
}
.header-right{
    display: flex;
    align-items: center;
    gap: 15px;
    z-index: 2;
    font-size: 15px;
    padding-right: 25px;
}
.header-right svg{
    width: 20px;
    height: 20px;
    fill: currentColor;
}
.header-right span{
    position: relative;
    transition: color 0.4s ease;
}
.header-toggle-text {
    margin-top: 0;
    width: auto;
    white-space: nowrap;
    padding: 3px 5px;
    position: absolute;
    opacity: 0;
    font-size: 12px;
    transition: opacity 0.4s ease, transform 0.4s ease;
    border-radius: 20px;
    transform: translateX(-32%);
}

.header-right span:hover .header-toggle-text {
    opacity: 1;
    background-color: black;
    color: white;
    transform: translateX(0%);
}
.header-right span:hover{
    color: rgb(0, 132, 255);
}
.header-right button {
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 3px 15px;
    font-size: 17px;
    transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease;
}
.header-right button:hover {
    background-color: rgb(0, 132, 255);
    color: white;
    border: 2px solid transparent;
}

